<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageURL</key>
	<string>Something.com</string>
	<key>genre</key>
	<integer>0</integer>
	<key>author</key>
	<string>Sako Hovaguimian</string>
	<key>title</key>
	<string>A Story</string>
	<key>story_id</key>
	<string></string>
	<key>scenes</key>
	<array>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>text</key>
			<string>This is the rude response</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Go fuck yourself</string>
					<key>scene_id</key>
					<string>8</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>I hope you die</string>
					<key>scene_id</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>text</key>
			<string>This is the nice response</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>I love your hair</string>
					<key>scene_id</key>
					<string>6</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>I love your outfit</string>
					<key>scene_id</key>
					<string>8</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>text</key>
			<string>Welcome to the story</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>welcome 1</string>
					<key>scene_id</key>
					<string>2</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>welcome 2</string>
					<key>scene_id</key>
					<string>8</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>text</key>
			<string>This is response number 6</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>What it do? </string>
					<key>scene_id</key>
					<string>7</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Dank Shit, fam</string>
					<key>scene_id</key>
					<string>8</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>text</key>
			<string>This is a custom test</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>idk anymore, i should probably go home</string>
					<key>scene_id</key>
					<string>3</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>idk anymore, i should probably go home</string>
					<key>scene_id</key>
					<string>3</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>idk anymore, i should probably go home</string>
					<key>scene_id</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
