<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageURL</key>
	<string>Something.com</string>
	<key>genre</key>
	<integer>0</integer>
	<key>author</key>
	<string>Sako Hovaguimian</string>
	<key>title</key>
	<string>A Story</string>
	<key>story_id</key>
	<string></string>
	<key>scenes</key>
	<array>
		<dict>
			<key>id</key>
			<string>story_id_0</string>
			<key>text</key>
			<string>Welcome, Let me know when you&apos;re ready and we&apos;ll get started on the journey</string>
			<key>choices</key>
			<array>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Play the game!</string>
					<key>scene_id</key>
					<string>story_id_1</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Let&apos;s get this going!</string>
					<key>scene_id</key>
					<string>story_id_1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>story_id_1</string>
			<key>text</key>
			<string>Pick a path</string>
			<key>choices</key>
			<array>
				<dict>
					<key>health</key>
					<integer>50</integer>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Path 2</string>
					<key>scene_id</key>
					<string>story_id_2</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Path 3</string>
					<key>scene_id</key>
					<string>story_id_3</string>
				</dict>
				<dict>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>Path 4</string>
					<key>scene_id</key>
					<string>story_id_4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>story_id_2</string>
			<key>text</key>
			<string>This is story path 2</string>
			<key>choices</key>
			<array>
				<dict>
					<key>health</key>
					<integer>50</integer>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>go back to 1</string>
					<key>scene_id</key>
					<string>story_id_1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>story_id_3</string>
			<key>text</key>
			<string>This is story path 3</string>
			<key>choices</key>
			<array>
				<dict>
					<key>health</key>
					<integer>50</integer>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>go back to 1 </string>
					<key>scene_id</key>
					<string>story_id_1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>story_id_4</string>
			<key>text</key>
			<string>This is story path 4</string>
			<key>choices</key>
			<array>
				<dict>
					<key>health</key>
					<integer>50</integer>
					<key>deadEnd</key>
					<false/>
					<key>text</key>
					<string>go back to 1</string>
					<key>scene_id</key>
					<string>story_id_1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
